<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auto-Complete Document</title>
  <link rel="stylesheet" href= "./static/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
  <center><h1>Auto-Complete Document</h1></center>
  <textarea class="Input" name="input" id="input" onchange="getSuggestions()"></textarea>
  <div class="suggestions" id="out">
  </div>
</body>
<script src="./static/js/script.js"></script>
</html>